:root {
    --black-color: #333;
    --gray-color: #F6F6F6;
    --lightblue-color: #D8ECFE;
    --lightgreen-color: #E1EDCE;
    --green-color: #88AA4D;
    --pink-color: #F8DDD7;
    --red-color: #F75531;
    --orange-color: #FC9B27;
    --hover-color: #FC7427;
}